//******************************************************************************
//  #HEADING CONTENT COMPONENT
//******************************************************************************

.c-heading-content {
	font-size     : 24px;
	display       : block;
	border-bottom : 2px solid $color-font;
}
