//******************************************************************************
//  #COLORS VARIABLES
//******************************************************************************

$color-black : #000000;
$color-white : #FFFFFF;
$color-gray-10 : #F6F6F6;
$color-gray-50 : #D4D4D4;
$color-gray-55 : #ABABAB;
$color-gray-70 : #666666;
$color-gray-90 : #404040;

$color-font : $color-gray-70;

$color-primary : #00B9F7;
$color-primary-dark : #367BB7;
$color-secondary : #FFB400;
