//******************************************************************************
//  #COLORS VARIABLES
//******************************************************************************

$color-black : #000000;
$color-white : #FFFFFF;
$color-gray-10 : #EDEDED;
$color-gray-50 : #AAAAAA;
$color-gray-55 : #ABABAB;
$color-gray-90 : #404040;

$color-font : #666666;

$color-primary : #00B9F7;
$color-primary-dark : #367BB7;
$color-secondary : #FFB400;
