///* ========================================================================
//   #CORE
//   ======================================================================== */

// This core file sets up inuitcss’ most important setup variables. They
// underpin a lot of how the framework functions and should be modified and
// preconfigured with caution.

// Base typographical styles and baseline grid. You need to define these values
// in pixels: inuitcss will convert them to more appropriate units.

$inuit-global-font-size : 16px !default;
//$inuit-global-line-height : 14px !default;

/* OWN STYLES
   ****************************************************************************/

$base-line-height : 120%;
$base-font-size : $inuit-global-font-size;
$base-font-color : $color-font;
$base-font-family : 'Arial', sans-serif;
$base-background-color : $color-white;

/* END OWN STYLES
   ****************************************************************************/

// Spacing values are determined based on your project’s global line height (i.e
// your baseline grid). It is not recommended that you modify these following
// variables (it can break your vertical rhythm), but if you need to, you can.

$inuit-global-spacing-unit : 15px !default;

// How many times larger/smaller than the default should our spacing unit
// variants be?

$inuit-global-spacing-unit-factor-tiny : 0.25 !default;
$inuit-global-spacing-unit-factor-small : 0.5 !default;
$inuit-global-spacing-unit-factor-large : 2 !default;
$inuit-global-spacing-unit-factor-huge : 4 !default;
